{% extends 'base.html' %}
{% load static %}


{% block content %}
<h2>About Us</h2>
    <p class="test-justify">[DUMMY CONTENT]So when Nehru spoke at that midnight moment, he was speaking for a nation that had found its
        own voice in the world again, and was determined to use it to express a worldview radically
        different from that which had been articulated by India’s British rulers in previous decades. And
        he was doing so as a convinced internationalist himself, one who had seen much of the world in
        his extensive travels and was resolved to apply his own understanding of it to his newly
        independent nation’s stance in world affairs.In the six decades since Nehru’s India constituted
        itself into a sovereign republic, the world has become even more closely knit together than he so
        presciently foresaw. Indeed, as the twenty-first century enters its second decade, even those
        countries that once felt insulated from external dangers—by wealth or strength or distance—now fully
        realize that the world is truly ‘knit together’ as never before, and that the safety of people everywhere
        depends not only on local security forces, but also on guarding against terrorism; warding off the global
        spread of pollution, of diseases, of illegal drugs and of weapons of mass destruction; and on promoting human
        rights, democracy and development.[DUMMY] </p>


{% endblock %}